{{ $data := or (index .Site.Data .Site.Language.Lang).content .Site.Data.content }}
{{ .Scratch.Set "data" $data }}
<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
<body>
    <div class="content">
        {{ if .Site.Params.swapColumns }}
        <div class="content__left content__swapped__left">
        {{ else }}
        <div class="content__left">
        {{ end }}
            <h1 class="mainHeading">{{ $data.BasicInfo.FirstName }} <span>{{ $data.BasicInfo.LastName }}</span></h1>
            {{ partial "_profile.html" $data }}
            {{ partial "_experience.html" $data }}
            {{ partial "_education.html" $data }}
            {{ partial "_references.html" $data }}
        </div>
        {{ if .Site.Params.swapColumns }}
        <div class="content__right content__swapped__right">
        {{ else }}
        <div class="content__right">
        {{ end }}
            {{ partial "_avatar.html" $data }}
            {{ partial "_contacts.html" $data }}
            {{ partial "_skills.html" $data }}
            {{ partial "_languages.html" $data }}
            {{ partial "_diplomas.html" $data }}
            {{ partial "_interests.html" $data }}

            <div style="margin-top: 35px; margin-bottom: 30px;">
                
                <div style="display: flex; align-items: center; color: #555; margin-bottom: 15px;">
                    <div style="flex-grow: 1; height: 3px; border-top: 1px solid #999; border-bottom: 1px solid #999;"></div>
                    
                    <h3 style="margin: 0 15px; text-transform: uppercase; font-size: 1.3em; font-weight: bold; letter-spacing: 1px;">
                        Contador
                    </h3>
                    
                    <div style="flex-grow: 1; height: 3px; border-top: 1px solid #999; border-bottom: 1px solid #999;"></div>
                </div>

                <div style="text-align: center;">
                    <span id="contador" style="font-size: 2.2em; font-weight: 700; color: #444; line-height: 1;">
                        ...
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    // URL de tu nueva API generada por Terraform
    const apiUrl = "https://f279ext5t6.execute-api.us-east-1.amazonaws.com/count"; 

    fetch(apiUrl)
        .then(response => response.json())
        .then(data => {
            const contadorElement = document.getElementById('contador');
            if (contadorElement) {
                contadorElement.innerText = data.count;
            }
        })
        .catch(error => {
            console.error('Error al obtener visitas:', error);
            // Opcional: poner un valor por defecto si falla
            const contadorElement = document.getElementById('contador');
            if (contadorElement) {
                contadorElement.innerText = "Error"; 
            }
        });
</script>
</html>
