{{ $data := or (index .Site.Data .Site.Language.Lang).content .Site.Data.content }}
{{ .Scratch.Set "data" $data }}
<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
<body>
    <div class="content">
        {{ if .Site.Params.swapColumns }}
        <div class="content__left content__swapped__left">
        {{ else }}
        <div class="content__left">
        {{ end }}
            <h1 class="mainHeading">{{ $data.BasicInfo.FirstName }} <span>{{ $data.BasicInfo.LastName }}</span></h1>
            {{ partial "_profile.html" $data }}
            {{ partial "_experience.html" $data }}
            {{ partial "_education.html" $data }}
            {{ partial "_references.html" $data }}
        </div>
        {{ if .Site.Params.swapColumns }}
        <div class="content__right content__swapped__right">
        {{ else }}
        <div class="content__right">
        {{ end }}
            {{ partial "_avatar.html" $data }}
            {{ partial "_contacts.html" $data }}
            {{ partial "_skills.html" $data }}
            {{ partial "_languages.html" $data }}
            {{ partial "_diplomas.html" $data }}
            {{ partial "_interests.html" $data }}

            <div style="margin-top: 25px; margin-bottom: 20px;">
                <h3 style="text-transform: uppercase; font-size: 1.2em; border-bottom: 2px solid #ccc; padding-bottom: 5px; margin-bottom: 10px;">
                    Contador
                </h3>
                <div style="font-size: 1.5em; font-weight: bold; color: #555;">
                    <span id="contador">...</span>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
<script>
    // La URL de tu API Gateway
    const apiUrl = "https://2tsraker73.execute-api.us-east-1.amazonaws.com/functionGiveVisitors";

    // Elemento donde quieres mostrar el número (asegúrate de tener un <span id="contador"></span> en tu HTML)
    const counterElement = document.getElementById('contador');

    async function updateCounter() {
        try {
            // Llamamos a la API
            let response = await fetch(apiUrl);
            let data = await response.json();
            
            // Mostramos el resultado en la consola y en la web
            console.log(`Visitas: ${data.count}`);
            if (counterElement) {
                counterElement.innerText = data.count;
            }
        } catch (error) {
            console.error("Error al obtener el contador:", error);
        }
    }

    // Ejecutamos la función cuando carga la página
    updateCounter();
</script>
</html>
